@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.home {
  display: flex; /* Align children in a row */
  max-width: 100%;
  height: 100vh;
}
.marquee-container {
  width: 40px;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
  background-color: black;
}
.image{
    height: auto;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeAnimation 50s linear infinite;
  writing-mode: vertical-rl;
  color: white;
  padding: 30px;
  position: fixed;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}